#main {
    min-height: calc(100vh - 56px);
}
.modal-dialog {
    height: calc(100vh - 3.50rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}